{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Revolution Suplementos</title>
    <link rel="stylesheet" href="{% static 'loja/style.css' %}">
</head>
<body>

<header class="topo">
    <img src="../../../media/padroes/logo.png" alt="logo" class="img-logo">
    <p>Potencialize seus resultados</p>
</header>

<main class="produtos">
    {% for produto in produtos %}
        <div class="produto-card">
            <h3>{{ produto.nome }}</h3>
            <div class="img-produto">
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">    
            </div>
            <h4>Descrição:</h4>
            <p class="descricao">
                <span class="texto-curto">
                    {{ produto.descricao|truncatechars:100 }}
                </span>

                <span class="texto-completo" style="display: none;">
                    {{ produto.descricao }}
                </span>
                <button class="btn-mostrar" onclick="toggleDescricao(this)">
                    Mostrar mais
                </button>
            </p>
            <p class="estoque">
                {% if produto.estoque > 0 %}
                    Em estoque: {{ produto.estoque }} unidade{{ produto.estoque|pluralize }}
                {% else %}
                    <span class="sem-estoque">Produto indisponível</span>
                {% endif %}
            </p>
            <strong class="preco">
                R$ {{ produto.preco }}
            </strong>
            {% if produto.estoque > 0 %}
                <a class="btn-reservar" href="{% url 'reservar' produto.id %}">
                    Reservar
                </a>
            {% else %}
                <span style="color:red;">Esgotado</span>
            {% endif %}
        </div>
    {% endfor %}
</main>
</body>
{% if request.GET.reserva == 'sucesso' %}
<div class="modal-overlay" id="modal">
    <div class="modal">
        <h2>✅ Reserva realizada!</h2>

        <p>
            Sua reserva foi criada com sucesso.
        </p>

        <p>
            📲 Uma mensagem foi enviada para você via WhatsApp.
            Um funcionário enviará um QRCODE para que o pagamento seja efetuado.
            Logo após você poderá retirar o(s) iten(s) da loja.
        </p>

        <p>Caso queira cancelar, nos comunique respondendo a mensagem enviada</p>

        <p>
            ⏱️ A reserva tem validade de <strong>30 minutos</strong>.
            Caso a compra não seja deferida, será automaticamente cancelada.
        </p>

        <p style="color: red;"> ATENÇÃO: NÃO ESQUEÇA DE LEVAR O COMPROVANTE DA COMPRA
            QUANDO FOR RETIRAR O(S) ITEN(S)
        </p>

        <button onclick="fecharModal()">Entendi</button>
    </div>
</div>
{% endif %}
</html>
<script>
function toggleDescricao(botao) {
    const produto = botao.closest('.produto-card');
    const textoCurto = produto.querySelector('.texto-curto');
    const textoCompleto = produto.querySelector('.texto-completo');

    if (textoCompleto.style.display === 'none') {
        textoCompleto.style.display = 'inline';
        textoCurto.style.display = 'none';
        botao.innerText = 'Mostrar menos';
    } else {
        textoCompleto.style.display = 'none';
        textoCurto.style.display = 'inline';
        botao.innerText = 'Mostrar mais';
    }
}
function fecharModal() {
    document.getElementById('modal').style.display = 'none';

    // remove o parâmetro da URL
    window.history.replaceState({}, document.title, window.location.pathname);
}
</script>
