{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reservar {{ produto.nome }}</title>
    <link rel="stylesheet" href="{% static 'loja/css/style.css' %}">
</head>
<body>
    <div class="produto-card">
        <h1>Reservar produto</h1>
        <h2>{{ produto.nome }}</h2>
        {% if produto.imagem %}
            <img class="img-produto-b" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
        {% else %}
            <img class="img-produto-b" src="{% static 'loja/img/imagem.png' %}" alt="Sem imagem">
        {% endif %}
        <p>{{ produto.descricao }}</p>
        <p><strong>Estoque disponível:</strong> {{ produto.estoque }}</p>
    </div>
    <form method="post">
        {% csrf_token %}

        <label>
            Nome:
            <input type="text" name="nome" required>
        </label>
        <br><br>

        <label>
            Telefone:
            <input type="text" name="telefone" required>
        </label>
        <div class="produto-card">
            <p>Preço: R$ {{ produto.preco }}</p>
            <input
                type="number"
                name="quantidade"
                min="1"
                value="1"
                oninput="atualizarTotal(this)"
                data-preco="{{ produto.preco }}"
            >
            <p>
                <strong>Total:</strong>
                R$ <span class="total">{{ produto.preco }}</span>
            </p>
        </div>
        <button type="submit">Confirmar reserva</button>
    </form>
    <br>
    <a href="{% url 'home' %}">Voltar</a>
    <script>
        function atualizarTotal(input) {
            const preco = parseFloat(input.dataset.preco.replace(',', '.'));
            const quantidade = parseInt(input.value) || 1;
            const total = preco * quantidade;

            const totalSpan = input.closest('.produto-card').querySelector('.total');
            totalSpan.innerText = total.toFixed(2);
        }
    </script>
</body>
</html>


